<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>수업시간 투표!</title>
  </head>
  <body>
    <h1>수업시간 투표 페이지</h1>
    <form action="/vote">
      <% TIMES.each do |id, text| %>
        <input type="radio" name="vote" value="<%= id %>">
          <%= text %>
        </br>
      <% end %>
      <button type="submit">Vote!</button>
    </form>
  </body>
</html>
