<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>수업시간 투표!</title>
  </head>
  <body>
    <h1><%= @vote %> 에 투표하셨습니다.</h1>
    <a href="/">다시 투표하기</a>
    <a href="/result">전체 결과보기</a>
  </body>
</html>
